.FriendReview {
  border: 1px solid black;

  .btn {
    border-radius: 0;
  }

  img {
    max-width: 100%;
  }

  border-radius: 10px 10px 0 10px;

  @media screen and (max-width: 767px) {
    border-radius: 10px 10px 0 0;
  }

  // box-shadow: 0 5px 5px black;
  background-color: white;
  margin: 10px;
  padding: 0;
  overflow: auto;

  .dv-star-rating i {
    font-size: 3rem;
  }

  .btn-block+.btn-block {
    margin: 0;
  }

  h4 {
    text-overflow: ellipsis;
    margin: 5px 0 0 0;
    line-height: 2.5rem;
    overflow-x: hidden;
    display: block;
    font-weight: bold;
    white-space: nowrap;
  }

  .queueButtonHolder {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    border-top: 1px solid black;
  }

  .posterHolder {
    padding: 0;
    border-right: 1px solid black;
    
    img {
      border-radius: 10px 0 0 10px;
    }

    @media screen and (max-width: 767px) {
      img {
        border-radius: 10px 0 0 0;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.commentHolder {
  padding: 0;
  margin: 0;
}

.reviewComment {
  padding-left: 10px;
  float: right;
  border-radius: 0;
  background-color: white;
  margin-right: -10px;
  margin-top: -10px;
  overflow: auto;
  // box-shadow: 0 5px 5px black;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  text-align: left;

  p {
    margin-left: 15px;
    margin-top: 5px;
  }

  .form-group {
    margin: 10px 0 10px 10px;
  }
}

.negative-indent {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: -20px;
}

.reviewComment:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;

  .btn {
    background-color: #0CA;
    color: white;
  }
}

