.MediaDetail {
  padding-top: 10px;
  transition: all 0.3s;
  background: aliceblue;
  height: calc(100vh - 60px);

  @media screen and (max-width: 768px) {
    .no-mobile {
      display: none;
    }
  }

  .mediaTitle {
    font-weight: bold;
  }

  .left-column {
    border: 1px solid black;
    background: white;
    border-radius: 10px;

    img {
      margin: 0;
      max-width: 100%;
    }

    .mini-left {
      text-align: left;
      border-right: 1px solid black;
    }
    .mini-right {
      text-align: right;
      border-left: 1px solid black;
    }
  }

  .middle-column {
    overflow: auto;
    max-height: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;

    

    .userReview {
      padding: 1rem;
      border-top: 1px solid black;
    }
    .userReview:last-child {
      border-bottom: 1px solid black;
    }
  }

  .right-column {
    background: white;
    overflow: auto;
    max-height: calc(100vh - 60px);
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .providerLink {

    margin: 5px;

    img {
      border-radius: 10px;
      overflow: hidden;
      width: 50px;
    }
  }

  .avgRating {
    .dv-star-rating i {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      height: 100%;
    }

    .left-column {
      height: 100%;
      border-radius: 10px 0 0 10px;
      border-right: 0;
    }

    .middle-column {
      height: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .right-column {
      height: 100%;
      border-radius: 0 10px 10px 0;
      border-left: 0;
    }
  }
}