@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
  background: aliceblue;

  // h4 {
  //   font-family: 'Allura', cursive;
  // }
}
