.Register {
  padding: 2rem;
  transition: all 0.3s;
  overflow: auto;

  .register-form {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
  }

  a {
    color: darkgoldenrod;
  }

  input {
    border-radius: 10px;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 1px solid black;
    background: white;
  }
  input:focus{
    outline: 0;
    background: #FFECAE;
  }

  .text-right {
    margin: 10px 0 10px 0;
    padding-right: 0;
  }
}