.QueuedMedia {
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
  background-color: white;
  margin-bottom: 10px;
  padding: 0;
  overflow: auto;

  .dv-star-rating i {
    font-size: 3rem;
  }

  button, .bottomButton {
    border-radius: 0;
    margin: 0;
  }

  .thumbnail {
    margin-bottom: 0;

    h4 {
      text-overflow: ellipsis;
      margin: 5px 0 0 0;
      overflow-x: hidden;
      display: block;
      white-space: nowrap;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
